<template>
  <div
    class="container"
    :style="{ 'background-image': `url(${currentData.imageURL})` }"
  >
    <div class="cover" />
    <div class="logo">Zinsser</div>
    <div class="icons">
      <ChevronLeftIcon
        class="icon"
        :class="{ disabled: firstDate }"
        @click="last"
      />
      <ChevronRightIcon
        class="icon"
        :class="{ disabled: currentDate }"
        @click="next"
      />
    </div>
    <p class="rule">{{ currentData.rule }}</p>
    <a :href="currentData.imageURL">
      <div class="cameraContainer">
        <CameraIcon />
        <span class="credit">{{ currentData.credit }}</span>
      </div>
    </a>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import {
  ChevronLeftIcon,
  ChevronRightIcon,
  CameraIcon
} from 'vue-feather-icons'

export default {
  components: { ChevronLeftIcon, ChevronRightIcon, CameraIcon },
  computed: {
    ...mapState({
      currentData: (state) => state.data.currentData,
      currentDate: (state) => state.data.currentDate,
      firstDate: (state) => state.data.firstDate
    })
  },
  methods: {
    ...mapMutations({
      setViewed: 'data/setViewed',
      next: 'data/next',
      last: 'data/last'
    })
  },
  mounted() {
    this.setViewed()
  },
  updated() {
    this.setViewed()
  }
}
</script>

<style>
/*
green: rgb(6, 229, 164)
dark: rgb(56, 66, 74)
dark grey: #8c979a
light grey: #dadedf
*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(56, 66, 74, 0.9);
}
.logo {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 18px;
  font-weight: 200;
  color: rgb(6, 229, 164);
  text-transform: uppercase;
  letter-spacing: 5px;
}
.icons {
  position: absolute;
  top: 15px;
  right: 20px;
}
.icon {
  height: 21px;
  width: 21px;
  margin: 0 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.icon {
  stroke: #dadedf;
}
.icon:hover {
  stroke: rgb(6, 229, 164);
}
.icon.disabled {
  stroke: #8c979a;
  cursor: default;
}
.rule {
  width: 66%;
  text-align: center;
  color: white;
  font-size: 2.5vh;
  font-weight: 400;
  line-height: 2;
  z-index: 3;
}
.cameraContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 24px;
  height: 21px;
  cursor: pointer;
}
.cameraContainer svg {
  height: 16px;
  stroke-width: 1.5;
}
.cameraContainer path,
.cameraContainer circle {
  stroke: #dadedf;
}
.cameraContainer:hover .credit {
  stroke: rgb(6, 229, 164);
  color: rgb(6, 229, 164);
}
.credit {
  margin: 0 0 0 5px;
  color: #dadedf;
  font-size: 13px;
  transition: color 0.2s ease-in-out;
}
</style>
